@import 'mixin';
.article-component{
    height:100%;
}
aside.article-aside{
    height:inherit;
    width:3rem;
    float:right;
    i.fa{
        .engrave;
    }
}
article.article-article{
    height:inherit;
    background:#fff;
    margin-right:3rem;
}