@import 'variable';
.wheel-component{
    position: absolute;
    bottom:0;
    overflow:hidden;
    .star-system{
        position: relative;
        bottom:-6.4rem;
        left:-6.4rem;
        width:24rem;
        height:24rem;
        border-radius: 12rem;
    }
    div.fixed-star{
        width:4rem;
        height:4rem;
        line-height:4rem;
        border-radius: 2rem;
        background-image:url(/materials/images/anarchy.jpg);
        background-size:100%;
        position: absolute;
        top:50%;
        left:50%;
        margin-top:-2rem;
        margin-left:-2rem;
    }
    @keyframes spin {
        from { 
            transform: 
                rotate(0turn) 
                translateY(-12rem) translateY(50%) 
                rotate(1turn)
        }
        to{ 
            transform: 
                rotate(1turn) 
                translateY(-12rem) translateY(50%) 
                rotate(0turn)
        }
    }
    .planet{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -2rem;
        margin-left: -2rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 2rem;
        background: @primary-color;
        text-align: center;
        color: #eee;
        // animation: spin 6s linear infinite;
        /* img{
            width:100%;
            height:100%;
            border-radius: 2rem;
        } */
    }
    .planet.on-pause{
        animation-play-state: paused;
    }
}