*{
	font-family:'Sans-serif', Arial, '微软雅黑', Serif, Verdana, Georgia, 'Times New Roman';
}
html{
	font-size:1vw;
}
body{
	font-size:1rem;
}
body{
	/* background: #f3f3f5;
	background: #282C34;
	background: #24292E;
	background: #21252B; 
	background: #1a1d21;
	background: #1b1a1f;
	background: #e0dedd;
	background: #ddebf3;
	background: #5f5c63;
	background: #c69a7d;
	background: #c4bfbb;
	background: #a09393;*/
	background: #f8f9f9;
}