.article-run-component{
    height:100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    div#output.result-pane{
        flex: 1 1 auto;
    }
}
