@import 'variable';
.login-component{
	margin:0 auto;
	width: 40vh;
	text-align:center;
	.ant-form-inline .ant-form-item{
		margin-right:0;
	}
	h3{
		color: @primary-color;
	}
	header{
		height:75px;
		line-height:75px;
		color:@xxx;
	}
	/* section{
		width:50%;
		height:300px;
		display:inline-block;
		vertical-align:middle;
	}
	section.login-img{
		img{
			width:100%;
			height:100%;
		}
	} */
	section.login-dialog{
		margin:0 auto;
	}
}
