@import 'variable';
@import 'mixin';

.login-component{
	.overspread;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
@loginDialogW:12rem;
@loginDialogH:16rem;
.login-dialog{
	font-size:1.3rem;
	width:@loginDialogW;
	height:@loginDialogH;
	input{
		width: 100%;
		text-align: center;
		border: none;
		border-bottom: 1px solid transparent;
		height: 2.4rem;
		line-height: 1.2;
	}
	input:focus{
		border-bottom: 1px solid @primary-color;
	}
}
