@import 'mixin';
.article-list-component{
	.overspread;
	display: flex;
	flex-flow: row-reverse nowrap;
	justify-content: stretch;
	align-items: stretch;
	@width:2.4rem;
	ul.article-aside{
		height:100%;
		width:@width;
		float:right;
		li{
			display: block;
			width:@width;
			height:@width;
			line-height:@width;
			text-align:center;
		}
		i.fa{
			.engrave;
		}
	}
	.article-list-main{
		background:rgba(250,250,250,.1);
		box-shadow:0 0 20px rgba(0, 0, 0, 0.1);
		width:54rem;
		overflow-y:auto;
		padding:2em 4em;
	}
	.article-list-ul{
		list-style:disc;
		.article-edit, .article-del{
			margin: 0 4px;
			float: right;
		}
		.article-title{
			font-size: 1.1em;
		}
		.article-date{
			font-size: .8em;
			color: #bbb;
		}
	}
    nav.nav-wheel{
        position: absolute;
        bottom:-6.4rem;
        left:-6.4rem;
    }
}