@import 'mixin';
.test-text{
    .engrave(red);
    font-size:10rem;
}
.article-list-component{
    .overspread;
    ul.article-aside{
        @width:3rem;
        height:100%;
        width:@width;
        float:right;
        li{
            display: block;
            width:@width;
            height:@width;
            line-height:@width;
            text-align:center;
        }
        i.fa{
            .engrave;
        }
    }
    .article-list-main{
        margin-right:3rem;
        height:100%;
    }
}